body {font-weight:bold;}
.normal-text {font-size:14px!important;}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #000000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #000000;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #000000;
}


